html {
background-color: black;
}

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: WhiteSmoke;
    color: black;
    padding: 15px;
    border-radius: 20px;

    border-style: solid;
    border-color: GhostWhite;
    border-width: 3px;

    display:block;
    box-sizing: border-box;
}
a {
    color: SlateGray;
}
* {
    font-family: inherit;
}

.centeredStyle {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: GhostWhite;
    border-width: 3px;
    border-radius: 20px;
    padding: 15px;
}

cite {
    color: black;
    padding-left: 1em;
    display:block;
}

table, .tblActivity, .tblClassCode {
    padding: 15px;
    border-radius: 20px;
    border-style: solid;
    border-color: GhostWhite;
    background-color: LightGray;
    border-width: 3px;
    text-align:left;
    border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  vertical-align: top;
}

.tblActivity
}